/*重置*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    background: black;
    color: #fff;
    font-family: '微软雅黑',Arial, Helvetica, sans-serif;
}

/*顶部导航*/
.topNavBar{
    padding: 30px 0;
}
.topNavBar .logo{
    font-family: 'Hiragino Kaku Gothic Std';
    font-size: 30px;
    padding: 4px 0 4px 15px;
    font-weight: 600;
}
.topNavBar .logo,nav li{
    float: left;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}
  
.topNavBar nav{
    float: right;
}
.topNavBar nav li{
    margin: 0 17px;
}
.topNavBar nav li a{
    display: block;
    color: rgba(255,255,255,.7);
    font-weight: bold;
    padding: 12px 0;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}
.topNavBar nav li:hover a{
    border-bottom: 3px solid #DC6465;
}
